<div class="card">
  <div class="card-header">
    {{formText}}
  </div>
  <div class="card-body">
    <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
     {{errorMessage}}
    </div>
    <form class="row g-3">

      <div class="col-md-6">
        <label  class="form-label">First Name</label>
        <input type="text" class="form-control" name="name" [(ngModel)]="customer.name"  >
      </div>
      <div class="col-md-6">
        <label class="form-label">Last Name</label>
        <input type="text" name="lastName" [(ngModel)]="customer.lastName"  class="form-control" >
      </div>

      <div class="col-12 mt-2">
        <button (click)="handleForm()" class="btn btn-primary">{{opText}}</button>
      </div>
    </form>
  </div>
</div>
